/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/list/[id]/detailpage.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.detailpage_container__RmXI1 {
  background-color: rgb(184, 184, 184);
  width: 100vh;
  margin: 0 auto;
  box-shadow: -2px -1px rgb(255, 238, 238), 2px 2px rgb(0, 0, 0);
}

.detailpage_titlebox__7KjOP {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 80px;
  margin: 20px auto;
  font-size: 40px;
  font-weight: 800;
}

.detailpage_cardcontainer__4krs_ {
  background-color: rgb(201, 201, 201);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 80vh;
  padding: 20px;
  box-shadow: inset -2px -1px rgb(255, 238, 238), inset 2px 2px rgb(0, 0, 0);
}

.detailpage_cardbox__emnrM {
  margin: 10px;
  box-shadow: -2px -1px rgb(255, 238, 238), 2px 2px rgb(0, 0, 0);
  width: 22%;
  transition: transform 0.3s ease;
  text-align: center;
}

.detailpage_cardbox__emnrM:hover {
  transform: translateY(-10px);
}

.detailpage_cardbox__emnrM:active {
  box-shadow: inset -2px -1px rgb(255, 238, 238), inset 2px 2px rgb(0, 0, 0);
}

.detailpage_cardbox__emnrM a {
  display: block;
  height: 100%;
  width: 100%;
}

.detailpage_img__PerZX {
  width: 100%;
  object-fit: fill;
}

