.container {
  background-color: rgb(184, 184, 184);
  width: 100vh;
  margin: 0 auto;
  box-shadow: -2px -1px rgb(255, 238, 238), 2px 2px rgb(0, 0, 0);
}

.titlebox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 80px;
  margin: 20px auto;
  font-size: 40px;
  font-weight: 800;
}

.cardcontainer {
  background-color: rgb(201, 201, 201);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 80vh;
  padding: 20px;
  box-shadow: inset -2px -1px rgb(255, 238, 238), inset 2px 2px rgb(0, 0, 0);
}

.cardbox {
  margin: 10px;
  box-shadow: -2px -1px rgb(255, 238, 238), 2px 2px rgb(0, 0, 0);
  width: 22%;
  transition: transform 0.3s ease;
  text-align: center;
}

.cardbox:hover {
  transform: translateY(-10px);
}

.cardbox:active {
  box-shadow: inset -2px -1px rgb(255, 238, 238), inset 2px 2px rgb(0, 0, 0);
}

.cardbox a {
  display: block;
  height: 100%;
  width: 100%;
}

.img {
  width: 100%;
  object-fit: fill;
}
