/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/(home)/loading.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.loading_container__NZQqZ {
  background-color: rgb(184, 184, 184);
  width: 100vh;
  margin: 0 auto;
  box-shadow: -2px -1px rgb(255, 238, 238), 2px 2px rgb(0, 0, 0);
}

.loading_titlebox__ghUn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 80px;
  margin: 20px auto;
  font-size: 40px;
  font-weight: 800;
}

.loading_textcontainer__102JW {
  background-color: rgb(201, 201, 201);
  margin: 20px auto;
  width: 80vh;
  height: 1000px;
  padding: 20px;
  box-shadow: inset -2px -1px rgb(255, 238, 238), inset 2px 2px rgb(0, 0, 0);
}

