/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/(home)/homepage.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.homepage_container__wBGCt {
  background-color: rgb(184, 184, 184);
  width: 100vh;
  margin: 0 auto;
  box-shadow: -2px -1px rgb(255, 238, 238), 2px 2px rgb(0, 0, 0);
}

.homepage_titlebox__6CXrY {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 80px;
  margin: 20px auto;
  font-size: 40px;
  font-weight: 800;
}
.homepage_genreboxcontainer__16RpH {
  background-color: rgb(201, 201, 201);
  display: flex;
  flex-wrap: wrap;
  width: 80vh;
  margin: 0 auto;
  padding: 50px;
  box-shadow: inset -2px -1px rgb(255, 238, 238), inset 2px 2px rgb(0, 0, 0);
}

.homepage_genrebox__7w88I {
  background-color: rgb(184, 184, 184);
  margin: 20px;
  box-shadow: -2px -1px rgb(255, 238, 238), 2px 2px rgb(0, 0, 0);
  height: 50px;
  padding: 20px;
  font-size: 30px;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.homepage_genrebox__7w88I:active {
  box-shadow: inset -2px -1px rgb(255, 238, 238), inset 2px 2px rgb(0, 0, 0);
}

